.center {
  max-width: 1180px;
  margin: 0 auto;
  // border: 1px solid orangered;
}

/*header {
  
  .headerBox {
    height: 66px;
    .leftBox {
      float: left;
      .logoBox {
        float: left;
        a {
          height: 66px;
          display: block;
          box-sizing: border-box;
          padding: 10px 0;
          img {
            height: 100%;
          }
        }
      }
      nav {
        height: 66px;
        float: left;
        display: flex;
        display: flex;
        align-items: center;
        a {
          display: block;
          box-sizing: border-box;
          padding: 0 10px;
          margin: 0 15px;
          height: 66px;
          line-height: 66px;
          text-decoration: none;
        }
        .navIteam {
          margin-left: 10px;
          height: 30px;
          background: #f66e48;
          border-radius: 20px;
          padding: 0 15px;
          position: relative;
          .secondNav {
            opacity: 0;
            position: absolute;
            top: 30px;
            left: -9;
            background: white;
            width: 142px;
            box-shadow: 0px 0px 10px 2px #ccc;
            border-radius: 5px;
            transition: opacity 0.4s;
            div {
              padding: 10px;
              &:hover {
                color: #f66e48;
                background: rgba(221, 221, 221, 0.658);
                cursor: pointer;
              }
            }
          }
          &:hover .secondNav {
            opacity: 1;
          }
        }
        img {
          height: 100%;
        }
      }
    }
    .rightBox {
      float: right;
      display: flex;
      align-items: center;
      .seclectBox {
        float: left;
        margin-right: 30px;
        display: flex;
        align-items: center;
        input {
          background: #f5f8fa;
          height: 30px;
          width: 240px;
          padding: 0 10px;
          font-size: 18px;
          border: 1px solid #f66e48;
          // border-radius: 40px;
          letter-spacing: 2px;
        }
        .searchBtn {
          height: 30px;
          width: 30px;
          background: #f66e48;
          text-align: center;
          // border-radius: 50%;
          i {
            font-size: 25px;
            line-height: 30px;
            color: white;
          }
        }
      }
      .funBox {
        float: right;
        height: 66px;
        // line-height: 66px;
        display: flex;
        align-items: center;
        .cartBuy {
          position: relative;
          .numBox {
            top: -10;
            right: 2;
            position: absolute;
            padding: 1px 5px;
            background: #f66e48;
            border-radius: 15px;
            text-align: center;
            font-size: 12px;
          }
        }
        .iphone-i {
          position: relative;
          .codeImg {
            opacity: 0;
            position: absolute;
            top: 50;
            right: 0px;
            width: 180px;
            height: 180px;
            background: url("../images/index/header-nav-app-pop-bg@2x.png") no-repeat bottom;
            background-size: contain;
            background-color: white;
            box-shadow: 0px 0px 10px 2px #ccc;
            transition: opacity 0.4s;
            img {
              margin: 20px auto 0;
              width: 100px;
              height: 100px;
              display: block;
            }
            p {
              margin-top: 30px;
              font-size: 13px;
              text-align: center;
            }
          }
        }
        .iphone-i i:hover + .codeImg {
          opacity: 1;
        }
        i {
          display: block;
          margin: 0 15px;
          font-size: 30px;
        }
        a {
          font-size: 17px;
          text-decoration: none;
        }

        span {
          margin: 0 5px;
        }
      }
    }
    a:hover {
      color: #f66e48;
    }
    i:hover {
      color: #f66e48;
      cursor: pointer;
    }
  }
   }

*/

main {
  padding-top: 400px;
  background-image: url("../images/index/bg.png");
  background-size: contain;
  background-repeat: no-repeat;

  .rotation-box {
    position: relative;
    .color-box {
      width: 100%;
      position: absolute;
      z-index: -1;
      bottom: 0;
      height: 100px;
      background: #fff7f5;
    }

    .section1 {
      background: white;
      display: flex;
      justify-content: space-between;
      .fun-slide-box {
        width: 506px;
        height: 260px;
        overflow: hidden;
        position: relative;
        .swiper-slide {
          a {
            display: block;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        .swiper-pagination {
          position: absolute;
          bottom: 20;
          span {
            width: 20px;
            height: 20px;
          }
        }
        .swiper-button-prev,
        .swiper-button-next {
          top: 0;
          width: 50px;
          height: 100%;
          margin-top: 0;
          display: none;
        }
        .swiper-button-prev {
          left: 0;
          background: -webkit-linear-gradient(left, rgba(1, 1, 1, 0.274), rgba(255, 255, 255, 0));
        }
        .swiper-button-prev::after,
        .swiper-button-next::after {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
        .swiper-button-prev::after {
          left: 5px;
        }
        .swiper-button-next::after {
          right: 5px;
        }
        .swiper-button-next {
          right: 0;
          background: -webkit-linear-gradient(right, rgba(1, 1, 1, 0.274), rgba(255, 255, 255, 0));
        }
      }
      .middle-box {
        width: 214px;
        height: 260px;
        a {
          display: block;
          width: 100%;
          height: 100%;
          &:hover {
            box-shadow: 0px 0px 5px 1px #ccc;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .rightBox {
        width: 440px;
        height: 260px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 10px;
        a {
          box-shadow: 0px 0px 10px 1px rgba(226, 226, 226, 0.849);
          display: block;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          &:hover {
            box-shadow: 0px 0px 5px 1px #ccc;
          }
        }
      }
    }
  }

  nav {
    background: #fff7f5;
    ul {
      background: white;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      li {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          display: block;
          padding: 10px;
          width: 30px;
        }
        p {
          text-align: center;
          font-size: 15px;
          font-weight: 600;
          padding: 5px 0;
        }
        .secondNav {
          // display: none;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          background: #ff724a;
          border-radius: 5px;
          z-index: 10;
          transition: 0.3s;
          h2 {
            // padding: 11px 0;
            padding: 0;
            color: white;
            text-align: center;
            border-bottom: 1px solid #ccc;
            transition: 0.5s;
          }
          .item {
            cursor: pointer;
            // padding: 8px 10px;
            padding: 0;
            color: white;
            font-size: 14px;
            display: flex;
            transition: 0.4s;
            span {
              transition: 0.6s;
            }
            i {
              visibility: hidden;
            }

            &:hover i {
              visibility: visible;
            }
            &:hover span {
              margin-left: 10px;
            }
          }
        }

        &:hover .secondNav {
          opacity: 1;
          height: auto;
          overflow: visible;
        }
      }
      li:hover .secondNav h2 {
        padding: 11px 0;
        // display: block;
        // visibility: visible;
        // opacity: 1;
      }
      li:hover .secondNav .item {
        padding: 8px 10px;
      }
    }
  }

  .adBox {
    background: #fff7f5;
    padding: 60px 0;
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .autoBox {
    background: #fff7f5;
    .title-box {
      padding: 15px 0;
      display: flex;
      align-items: center;
      p {
        font-size: 36px;
        color: #f66e48;
        font-weight: bold;
        margin-right: 10px;
      }
      h2 {
        font-size: 24px;
        font-weight: bold;
      }
    }
    .autoBox-section {
      overflow: hidden;
      height: 280px;
      background: white;
      .swiper-slide {
        cursor: pointer;
        background: #f5f8fa;
        .imgBox {
          width: 100%;
          height: 230px;
          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .text {
          height: 50px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          p {
            // margin-top: 16px;
            text-align: center;
            font-size: 14px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }
        }
        &:hover {
          box-shadow: 0px 0px 10px 1px #ccc;
        }
      }
    }
  }

  .floor1 {
    background: #fff7f5;
    padding-top: 60px;
    section {
      .top-title {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .leftBox {
          display: flex;
          align-items: center;
          h1 {
            font-size: 24px;
            font-weight: bold;
            display: flex;
            align-items: center;
            span {
              display: block;
              font-size: 42px;
              color: #ff724a;
              margin-right: 10px;
            }
          }

          ul {
            display: flex;
            margin-left: 10px;
            li {
              margin: 0 10px;
              padding: 4px 10px;
              cursor: pointer;
              transition: 0.6s;
            }
            .li-hover {
              background: rgb(224, 224, 224);
            }
            .li-active {
              background: orange;
              border-radius: 20px;
            }
          }
        }
        .rightBox {
          display: flex;
          align-items: center;
          i {
            color: orange;
            font-size: 16px;
          }
          a {
            padding: 0 3px;
            display: block;
            font-size: 16px;
            text-decoration: none;
          }
        }
      }
      .bottom-context {
        background: white;
        .f-box {
          display: none;
          .content-area {
            height: 680px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 15px;
            .grid-box {
              border: 1px solid rgba(230, 228, 228, 0.753);
              border-radius: 10px;
              overflow: hidden;
              cursor: pointer;
              .imgBox {
                img {
                  width: 100%;
                  height: 260px;
                  object-fit: cover;
                }
              }
              .font-text {
                padding: 0 10px;
                box-sizing: border-box;
                h2 {
                  padding: 5px 0;
                  box-sizing: border-box;
                  font-size: 17px;
                  letter-spacing: 1px;
                  white-space: nowrap; //不换行
                  text-overflow: ellipsis;
                  overflow: hidden;
                }

                .context {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  .author {
                    display: flex;
                    align-items: center;
                    .headerImg {
                      width: 30px;
                      height: 30px;
                      border-radius: 50%;
                      overflow: hidden;
                      img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                      }
                    }
                    .author-name {
                      margin-left: 10px;
                      font-size: 15px;
                    }
                  }

                  .times {
                    font-size: 12px;
                    color: rgb(192, 192, 192);
                  }
                }
              }

              &:hover {
                box-shadow: 0px 0px 20px 1px #ccc;
              }
            }
          }
          &:first-child {
            display: block;
          }
        }
      }
    }
  }

  .floor2 {
    background: #fff7f5;
    padding-top: 60px;
    section {
      .top-title {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .leftBox {
          display: flex;
          align-items: center;
          h1 {
            font-size: 24px;
            font-weight: bold;
            display: flex;
            align-items: center;
            span {
              display: block;
              font-size: 42px;
              color: #ff724a;
              margin-right: 10px;
            }
          }

          ul {
            display: flex;
            margin-left: 10px;
            li {
              margin: 0 10px;
              padding: 4px 10px;
              cursor: pointer;
              transition: 0.6s;
            }
            .li-hover {
              background: rgb(224, 224, 224);
            }
            .li-active {
              background: orange;
              border-radius: 20px;
            }
          }
        }
        .rightBox {
          display: flex;
          align-items: center;
          i {
            color: orange;
            font-size: 16px;
          }
          a {
            padding: 0 3px;
            display: block;
            font-size: 16px;
            text-decoration: none;
          }
        }
      }
      .bottom-context {
        background: white;
        .f-box {
          display: none;
          .content-area {
            height: 380px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 15px;
            .grid-box {
              border-radius: 10px;
              position: relative;
              cursor: pointer;
              overflow: hidden;
              .imgBox {
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
              .blackBox {
                position: absolute;
                width: 100%;
                background: rgba(58, 58, 58, 0.5);
                bottom: 0;
                height: 0;
                transition: height 0.6s;
                overflow: hidden;
                color: white;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .china-name {
                  font-size: 18px;
                }
                .jp-name {
                  padding: 5px 0;
                }
                .line {
                  width: 30px;
                  height: 5px;
                  background: white;
                  border-radius: 5px;
                  margin: 10px 0;
                }
              }
              &:hover .blackBox {
                height: 100%;
              }
            }
          }
          &:first-child {
            display: block;
          }
        }
      }
    }
  }
  .cooperation-box {
    background: #fff7f5;
    h2 {
      font-size: 26px;
      font-weight: bold;
      padding: 20px 0;
    }
    section {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(1, 1fr);
      grid-gap: 10px;
      .imgBox {
        cursor: pointer;
        &:hover {
          box-shadow: 0px 0px 10px 2px #ccc;
        }
        img {
          height: 500px;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .cooperation2-box {
    background: #fff7f5;
    padding-top: 40px;

    h2 {
      font-size: 26px;
      font-weight: bold;
      padding: 20px 0;
    }
    section {
      background: white;
      display: flex;
      justify-content: space-between;
      .leftBigImg {
        width: 450px;
        height: 650px;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &:hover {
          box-shadow: 0px 0px 10px 2px #ccc;
        }
      }
      .right-context {
        width: 700px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 10px;
        .shopBox {
          background: white;
          box-shadow: 0px 0px 20px 1px rgb(228, 228, 228);
          cursor: pointer;
          &:hover {
            box-shadow: 0px 0px 10px 2px #ccc;
          }
          .imgBox {
            img {
              height: 260px;
              width: 100%;
              object-fit: cover;
            }
          }

          .font-box {
            overflow: hidden;
            font-size: 15px;
            padding: 0 10px;
            display: flex;
            flex-direction: column;

            justify-content: center;
            height: 60px;
            .fb-title {
              width: 180px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              align-self: center;
            }
            .details {
              display: flex;
              justify-content: space-between;
              margin-top: 10px;
              .price {
                width: 100px;
                overflow: hidden;
                white-space: nowrap;
                font-size: 18px;
                color: #f66e48;
              }
              .flag {
                font-size: 12px;
                color: #ccc;
              }
            }
          }
        }
      }
    }
  }
  .floor3 {
    background: #fff7f5;
    padding-top: 80px;
    .hot-box {
      .top-title {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .leftBox {
          display: flex;
          align-items: center;
          h1 {
            font-size: 24px;
            font-weight: bold;
            display: flex;
            align-items: center;
            span {
              display: block;
              font-size: 42px;
              color: #ff724a;
              margin-right: 10px;
            }
          }
        }

        .rightBox {
          display: flex;
          align-items: center;
          i {
            color: orange;
            font-size: 16px;
          }
          a {
            padding: 0 3px;
            display: block;
            font-size: 16px;
            text-decoration: none;
          }
        }
      }

      .bottom-content {
        background: white;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 15px;
        .shopBox {
          cursor: pointer;
          border: 1px solid rgb(221, 221, 221);
          .imgBox {
            img {
              width: 100%;
              height: 240px;
              object-fit: cover;
            }
          }
          .blackBox {
            height: 40px;
            text-align: center;
            display: flex;
            align-items: center;
            position: relative;
            .contextBox {
              width: 100%;
              box-sizing: border-box;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              height: 20px;
              padding: 0 20px;
              overflow: hidden;
              bottom: 0;
              transition: 1s;
              transform-origin: center bottom;
              .title {
                font-size: 14px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
              }
              .price {
                font-weight: bold;
                color: rgb(245, 80, 14);
                margin-top: 5px;
                font-size: 13px;
              }
            }
          }
          &:hover .contextBox {
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: white;
            height: 80px;
            top: 0;
            background: rgba(0, 0, 0, 0.452);
          }

          &:hover {
            border: 1px solid blue;
          }
        }
      }
    }
  }
  .agent {
    background: #fff7f5;
    padding-top: 50px;
    h2 {
      font-size: 36px;
      font-weight: bold;
      text-align: center;
      padding: 20px 0 10px;
    }
    .line {
      margin: 0 auto;
      width: 30px;
      height: 5px;
      background: black;
      margin-bottom: 30px;
      border-radius: 20%;
    }
    section {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 1fr);
      grid-gap: 20px 30px;
      .imgBox {
        box-shadow: 0px 0px 20px 1px rgba(238, 238, 238, 0.703);
        cursor: pointer;
        img {
          display: block;
          height: 100px;
          width: 100%;
          object-fit: cover;
          box-sizing: border-box;
          border: 1px solid rgb(226, 226, 226);
          &:hover {
            border: 1px solid blue;
          }
        }
      }
    }
  }
  .bottom-floor {
    background: #fff7f5;
    padding: 40px 0;
    .section-box {
      background: white;
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        height: 95px;
        display: block;
      }
      .context {
        width: 55%;
      }
      .weibo,
      .app {
        width: 36px;
        height: 36px;

        border-radius: 50%;
      }
      .weibo {
        background: url("../images/index/footer-about-weibo@2x.png") no-repeat center center;
        background-size: 36px 36px;
        &:hover {
          background: url("../images/index/footer-about-weibo-hover@2x.png") no-repeat center center;
          background-size: 36px 36px;
        }
      }
      .app {
        background: url("../images/index/footer-about-app@2x.png") no-repeat center center;
        background-size: 36px 36px;
        &:hover {
          background: url("../images/index/footer-about-app-hover@2x.png") no-repeat center center;
          background-size: 36px 36px;
        }
      }
    }
  }
}

/*footer {

  background: #333;
  color: #fff;
  .footerBox {
    .top-section {
      display: flex;
      justify-content: space-between;
      height: 190px;
      border-bottom: 1px dotted white;
      .leftText {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 750px;
        .content {
          width: 130px;
          text-align: center;
          img {
            height: 36px;
          }
          h2 {
            font-weight: bold;
            font-size: 15px;
            padding: 12px 0;
          }
          p {
            font-size: 13px;
            line-height: 20px;
          }
        }
      }
      .rightImgBox {
        img {
          height: 100%;
        }
      }
    }
    .bottom-section {
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      dl {
        text-align: center;
        dt {
          font-size: 15px;
          margin-bottom: 12px;
        }
        dd {
          font-size: 12px;
          padding: 5px 0;
          color: rgb(117, 117, 117);
          cursor: pointer;
          &:hover {
            color: #fff;
          }
        }
      }
    }
    .last-fun {
      padding: 10px 0;
      background: #2f2f2f;
      text-align: center;
      font-size: 12px;
    }
  }
}
*/
